body {
    font-family: 'Arial', sans-serif;

    background-image: url(' https://i.pinimg.com/564x/b0/bc/b2/b0bcb23171e24c59f9ff067d24e6d776.jpg'); 
    background-size: fills;

    color: #fff; 
  }

  h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    text-align: center;
  }

  p {
    background-color: black;
    background: transparent;
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
padding-top: 10px;
  }