body {
    background-image: url('https://i.pinimg.com/originals/36/e4/d0/36e4d0b856694fc471344b644a1dd6e4.gif');
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' or a specific size */
    background-position: center center; /* or any other position */
  }
  