body {
 
   background-image: url('https://scontent.fmnl25-1.fna.fbcdn.net/v/t39.30808-6/283896675_114750581241255_1367888653709728419_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGE1k7C86w1QRcxyHj0RrTe5SbapanDsAvlJtqlqcOwC4Kg4WGUn3leaEGAl9PDhaX-vVdoQYEjaPjP198LPHCx&_nc_ohc=tMIfT4eR93kAX-SRcbu&_nc_ht=scontent.fmnl25-1.fna&oh=00_AfBwmtOE1xShRBjED8szsucWYOD6aaQMil8tIOVmV-gFjw&oe=655CBFB7');
}
.SELYM-h1{
    color:rgb(200, 0, 255);
    text-align: center;
    font-weight: 1000;
}
p{
    font-weight: bold;
    font-style: oblique;
   color: rgb(9, 18, 18);
}
.MYLES-h1{
    color: rgb(200, 0, 255);
    text-align: center;
    font-weight: 1000;
}
