body {
    background-image: url('https://scontent.fmnl25-4.fna.fbcdn.net/v/t39.30808-6/393011178_321959583853686_999969092173183375_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF4Ef9pCkp4SE9VO_VP1H1A33Wn3e8Kp9_fdafd7wqn34xOtwyLfiz3m3py-huwxtUEQwy43ZcyzI8ugvmfZ4fP&_nc_ohc=AIQvuDIfTWUAX-j2u3p&_nc_ht=scontent.fmnl25-4.fna&oh=00_AfBlde6xZx5UUho2E1sqajbXrjtD2z7LighQMHUlYjVFXg&oe=655C791C');
}
.SELYM-h1{
    color:violet;
    text-align: center;
    font-weight: 900;
}