.cliff-h1{
    color: #99ccff;
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hobby-h1{
    text-align: center;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
}
.hobby-p{
    text-align: center;
    color: blue;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}