.cliff-h1{
    color: #99ccff;
}
.hobby-h1{
    text-align: center;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
}
.hobby-p{
    text-align: center;
    color: blue;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}