.cliff-h1{
    color: #99ccff;
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cliff-p{
    text-align: center;
    color: #27AE60;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 700;
}
.hobby-h1{
    color: #99ccff;
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  :root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    
  }
  
  .light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    
  }
  
  body {
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }
  
  header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
  }
  
  /*Header-content*/
  .header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }
  .header-content .left-header {
    display: flex;
    align-items: center;
    position: relative;
  }
  .header-content .left-header .h-shape {
    transition: all 0.4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  }
  .header-content .left-header .image {
    border-radius: var(--br-sm-2);
    height: 90%;
    width: 68%;
    margin-left: 4rem;
    background-color: var(--color-black);
    transition: all 0.4s ease-in-out;
  }
  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100%);
  }
  .header-content .left-header .image img:hover {
    filter: grayscale(0);
  }
  .header-content .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
  }
  .header-content .right-header .name {
    font-size: 3rem;
  }
  .header-content .right-header .name span {
    color: var(--color-secondary);
  }
  .header-content .right-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
  }
  