<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/marjon.css">
    <title>MY AUTOBIOGRAPHY</title>
</head>
<body style="font-family:Arial;">
    <center>
    <table width="700px" border="1">
        <tr>
            <td rowspan="2">
                <img src="https://scontent.fmnl25-2.fna.fbcdn.net/v/t39.30808-6/369903886_3768481910047073_3308519254156630893_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFn-J-9g1jYbvAZCc462bbTwKHSO4wKQQXAodI7jApBBaqO0ZZGapMjtSIHnOcesXQ2V2ELfDtbX-Lb2JfeK1Fy&_nc_ohc=WN17d71NILsAX_9wQpg&_nc_ht=scontent.fmnl25-2.fna&oh=00_AfD9hURXY-7AVg9pRwxxLwDr4XRcBiQLiGTGB30wZyUAHw&oe=655BA8D2" width="100%">
            </td>
            <th width="500px" height="25px" bgcolor="Pink">AUTOBIOGRAPHY</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Name :MARJON JUDILLA </li>
                    <li>Birth Date :APRIL 17, 2000 </li>
                    <li>Birth Place :CONSOLACION, CEBU </li>
                    <li>Hobby : CHESS, BASKETBALL, VOLLEYBALL AND WATCHING MOVIES </li>
                    <li>Religion :SEVENTH DAY ADVENTIST </li>
                    <li>Address :STO NINO, MANOLO FORTICH, BUKIDNON </li>
                </ul>
            </td>
        </tr>
<tr>
            <th colspan="2" height="25px" bgcolor="Yellow">EDUCATIONAL BACKGROUND</th>
        </tr>
        <tr>
            <td colspan="2">
                <li>Elementary: Sto Nino Elementary School</li>
                <li>Junior Highschool: Manolo Fortich, National High School</li>
                <li>Senior Highschool: Manolo Fortich, National High School</li>
                <li>College: Northern Bukidnon State College(on going)</li>
            </td>
        </tr>
        <tr>
            <th colspan="2" height="25px" bgcolor="Yellow-Green">GOALS/ASPIRATIONS</th>
        </tr>
        <tr>
            <td colspan="2">
                <li>BECOME A FULL STACK DEVELOPER SOMEDAY</li>
                <li>BECOME A CYBERSECURITY EXPERT</li>
                <li>BECOME A NETWORK SPECIALIST</li>
            </td>
        </tr>
<tr>
            <th colspan="2" height="25px" bgcolor="Red">MOTTO IN LIFE</th>
        </tr>
        <tr>
            <td colspan="2">
                <li> "Kayang Isipin, Kayang Gawin"</li>
                
            </td>
        </tr>
        <tr>
            <th colspan="2" height="25px" bgcolor="PaleGreen">CONTACT ME</th>
        </tr>
        <tr>
            <td colspan="2">
                <p>You can reach me by:</p>
                <ul>
                    <li><a href="https://www.google.com">marjonjudilla143@gmail.com</a></li>
                    <li><a href="https://www.facebook.com">Marjon Judilla</a></li>
                    <li><a href="https://www.instagram.com">Jistmar</a></li>
                </ul>
            </td>
        </tr>
    </table>
    </center>
</body>
</html>