<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="about-us">
    <h1><s class="colorful-text">Gimingaw ko niya bay</s</span></h1>
        <body>
            <div class="colorful-name">
              <span class="letter" style="--hue: 0;">We are</span>
              <span class="letter" style="--hue: 60;">a vibrant</span>
              <span class="letter" style="--hue: 120;">vibrant</span>
              <span class="letter" style="--hue: 180;">passionate</span>
              <span class="letter" style="--hue: 240;">about</span>
              <span class="letter" style="--hue: 300;">creativity</span>
              <span class="letter" style="--hue: 360;">about</span>
              <span class="letter" style="--hue: 30;">and</span>
              <span class="letter" style="--hue: 90;">innovation!</span>
            </div>
        <p>We are a vibrant team passionate about creativity and innovation!</p>
  </div>
</body>
</html>
