<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/about.css">
    <title>Document</title>
   
</head>
<body>
    <div class="bg">
        <table>
            <caption>ABOUT ME</caption>
            <tr>
                <th>Name</th>
                <th>SHERWIN HICERA LUMAKANG</th>
                
            </tr>
            <tr>
                <th>Age</th>
                <th>20 Years Old</th>
                
            </tr>
            <tr>
                <th>Address</th>
                <th>Manolo Fortich, Bukidnon, Philippines</th>
                
            </tr>
            <tr>
                <th>Elementary Education</th>
                <th>Sto Nino Elementary School</th>
                
            </tr>
            <tr>
                <th>Secondary Education</th>
                <th>Manolo Fortich National High School</th>
                
            </tr>
            <tr>
                <th>Collegiate Education</th>
                <th>Northern Bukidnon State College</th>
                
            </tr>
            <tr>
                <th>Motto</th>
                <th>"IF ICAN DO IT TOMMOROW, I WILLNOT DO IT TODAY."</th>
                
            </tr>
            <tr>
                <th>Goals</th>
                <th>BECOME A IT PROGRAMMER</th>
                
            </tr>
       </div>
      
</body>
</html>