<header>
    <div class="container">
        <h1>Meryl Grace</h1>
        <p>2nd Year BSIT Student</p>
        <p>Beginner Web Developer</p>
        <p>Skills: <br>
            - Basic Java       <br>
            - Basic HTML       <br>
            - Basic CSS        <br>
            - Basic JavaScript <br>
        </p>
    </div>
</header>

<section id="projects">
    <div class="container">
        <p>Contact Me</p>
        
    </div>
</section>

<footer>
    <p>&copy; 2023 Meryl Grace. All Rights Reserved.</p>
</footer>
