<h1 class="hobby-h1"> MY HOBBIES</h1>

<body class="main-content">
    <header class="container header active" id="hobbies">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="https://scontent.fmnl14-1.fna.fbcdn.net/v/t1.6435-9/164044710_1892066900949048_3559177735635365554_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeFWYzeqiTAL5Kt1R0CxqbvB7A4IaVbhYursDghpVuFi6kWizRXW-oqLVrEOpSQDw6QikSp7iZ8Ui8wHmiOizW_G&_nc_ohc=S5X_bQX3OiIAX-ty7OH&_nc_ht=scontent.fmnl14-1.fna&oh=00_AfDyfJwqr12It67oibdEBYKcOdBNkfI02irF7tNUPZrSAA&oe=65914CC4" alt="">
                </div>
            </div>
            <div class="right-header1">
                <h1 class="name">
                    I <span>Love.....</span>
                
                </h1>
                <p>
                    - Playing Instruments Specially Guitar <br><br>- Rides With Friends<br><br>
                    - Keeping Goldfish <br><br>- My Girlfriend
                    
                </p>
                
            </div>
        </div>
    </header>
</body>
