<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/hobbies.css">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        
          <h1>HOBBIES</h1>
         <p>BASKETBALL
            <li>SPORTS FOR ALL 21U 3rd placer</li>
            <li>76th ARAW NG BRANGAY STO. NINO 21U RUNNER UP</li>
            
         </p>
         <p>ONLINE GAMES
            <li>CHRISTMAS OPEN MLBB TOURNAMENT CHAMPION</li>
            <li>76th ARAW NG BRANGAY STO. NINO MLBB TOURNAMENT 1st RUNNER UP</li>
            
         </p>
         <p>MECHANIC
            <li>HILIG MAG KALITKOT UG BSAN UNSA SA MOTOR</li>
            <li>HILIG MO GUBA UG AYO</li>
         </p>
         <p>ELECTRONICS
            <li>MAKING PORTABLE SPEAKER</li>
         </p>
       </div>
</body>
</html>