<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meryl Grace - Portfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Meryl Grace</h1>
        <p>Beginner Web Developer</p>
    </div>
</header>

<section id="projects">
    <div class="container">
    </div>
</section>

<footer>
    <p>&copy; 2023 Meryl Grace. All Rights Reserved.</p>
</footer>

<script>
    $(document).ready(function () {
        var projectsData = [
            { title: 'Project 1', 
            description: 'A basic calculator.',
            image: 'https://scontent.fcgy2-2.fna.fbcdn.net/v/t1.15752-9/405548701_690313809960727_8199718498838923859_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=MhUGXgr2dd8AX-kGr_x&_nc_ht=scontent.fcgy2-2.fna&oh=03_AdSz6EDLHArHhndaWtCveu3KZQj5mXILlb5D5xqepbMiAw&oe=659AA16B' },
            { title: 'Project 2', 
            description: 'A basic calculator with binary or and binary and.',
            image: 'https://scontent.fcgy2-2.fna.fbcdn.net/v/t1.15752-9/400845989_6752485944828761_1170136639484566135_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=pO8Pvtm-HqwAX_lLnyN&_nc_ht=scontent.fcgy2-2.fna&oh=03_AdQ6gaLrVs7V1nLyMRDsiSzPvJ5LloderlzPeiNzWQ11lQ&oe=659AD34A' },
            { title: 'Project 3', 
            description: 'A collaboration with all the 2nd Year BSIT Students',
            image: '',
            url: ''}
        ];

        var projectsContainer = $('#projects .container');
        projectsData.forEach(function (project) {
            var projectLink = project.url ? `<a href="${project.url}" target="_blank">` : '';
            var projectCard = `
                <div class="project-card">
                    ${projectLink}
                    <img src="${project.image}" alt="${project.title}">
                    <h2>${project.title}</h2>
                    <p>${project.description}</p>
                    ${projectLink ? '</a>' : ''}
                </div>`;
            projectsContainer.append(projectCard);
        });
    });
</script>

</body>
</html>
