<center>
<h1 class="jay-h1">ILOVEYOU KA DAGHAN!!</h1>
<p class="jay-p">"MUAH MUAH MUAH"</p>
<p class="jay-p2">ALAMAT NG PAG-IBIG

    Noong unang panahon, sa bayan ng Sikatuna wala pang nakakaalam tungkol sap ag-ibig. Doon nakatira si Maria, isang dalaga na ubod ng pangit. Panunukso ang lagging bumubungad kay Maria araw-araw dahil sa kanyang itsura.
    
    Isang araw habang si Maria ay naglalakad mayroon nagpakita sa kaniyang isang nakakasilaw na liwanag, isang diwata . Agad namang nagpakilala ang Diwata ng Pag-ibig at nagpahatid siya ng mensahe para sa bayan.
    
    Hindi mapakali si Maria, halos matunaw na siya habang kinakausap ng diwata, hindi ma-ipinta sa kanyang mukha ang kanyang nararamdaman ngunit pinakinggan naman niya ang Diwata.
    
    “pag-ibig ang aking hatid, at ito ay ipapaubaya ko sa buong bayan sa pamamagitan mo” naguluhan si Maria kung bakit siya ang napili ng Diwata magbahagi ng pag-ibig, subalit wala naman nakaka-alam kung ano ng aba ang pag-ibig.
    
    “ano baa ng pag-ibig?” tanong ni Maria sa diwata, “ang pag-ibig ang magbibigay kaayusan sa lahat ng bagay, at ito ang nakakaganda sa isang tao”
    
    Sa kagustuhan ni Maria na gumanda ay tinanggap naman niya ang bilin ng diwata ngunit bago umalis ang diwata ay mayroon syang binigay kay Maria.
    
    “Tanggapin mo itong kwintas ng pag-ibig magagamit mo yan upang mas mapalaganap ang pag-ibig sa bayan ngunit sa isang kondisyon, maaari mo lamang gamitin yan sa aking bilin, hindi sa pampersonal na interes. Kung ikaw ay hindi sumunod ay may parusa na kapalit”
    
    Mabilis na umalis si Maria at inisip kung ano ang gagawin niya upang mapalaganap ang pag-ibig, sinubukan niyang suotin ang kwintas at laking gulat niya na siya ay gumanda na parang diwata. “napaka-ganda ko na” wika ni Maria. Biglang naisip ni Maria na gamitin niya ang kwintas para magkagusto sa kaniya ang mga lalaki, kaya’t ganoon nga ang ginawa ni Maria. Lingid sa kaniyang kaalaman ay sumuway na siya sa utos ng diwata. Makalipas ang ilang araw, pag gising ni Maria ay bumalik na siya sa dati niyang anyo, wala ng epekto ang kwintas. Nagtago si Maria sa mga kaniyang manliligaw dahil hindi niya alam kung paano niya ito haharapin.
    
    Isang gabi ay hinanap ni Maria ang diwata at tinanong kung ano ang nangyari, “diwata ng pag-ibig, bakit nawala ang epekto ng kwintas..sinunod ko naman ang bilin mo  na ipalaganap ang pag-ibig sa pagiging masaya.”
    
    “ano ang masaya doon Maria? Personal na interes ang iyong intensyon sa pag gamit ng kwintas” wika ng diwata.
    
    “ngunit doon ko lang naramdaman kung paano maging maganda, kung paano maging masaya dahil sa aking itsura”
    
    “Maria, ang pag-ibig ay hindi nasusukat sa panlabas na anyo kung hindi kung ano ang nasa loob mo, matuto kang tumanggap kung anong meron ka at sa pamamagitan noon ay matututunan mo kung paano ibigan ang sarili mo, bago ka ibigin ng iba” sagot ng diwata.
    
    Simula noon ay nagging masayahin na si Maria, natuto siyang tumanggap at maging masaya. Natuto narin siya mahalin ang kaniyang sarili. Ikwinento ito ni Maria sa kaniyang mga kaibigan, kamag-anak at nagging pamilya at doon nakilala kung ano ang pag-ibig.</p>
</center>