<h1 class="cliff-h1">Welcome to the Home Page</h1>
<p class="cliff-p">Get Ready to Explore The Amazing Journey Of my Life</p>

<img class="clifford-image" src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/400448330_2640967699392294_1715560959960903344_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFs2HT2ai20LohKYOlikjVpimMmDfJhnUeKYyYN8mGdR1W605tfZRLAiItst3eBsBJTGBXmJRvAFLGxwDNV5PbJ&_nc_ohc=lkKposvUjFIAX87UqL1&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfDOSKd9oE0LBWiYTCNqlv1SNGKslo8Z6nkLZIWJzxlCaQ&oe=655B70AE">